.exchange-rates {
    margin: 0.6em 0 0 2em;
    line-height: initial;
}

.exchange-rates__date {
    font-size: 0.9em;
}

.exchange-rates__item {
    display: block;
}

.exchange-rates__item:nth-child(odd) {
    float: left;
    width: 95px;
}

.exchange-rates__currency-value {
    display: inline-table;
    width: 55px;
    text-align: right;
}

.exchange-rates__currency-value::after {
    content: " ₽";
}

.exchange-rates__currency-icon{
    text-transform: uppercase;
    width: 20px;
    display: inline-block;
}

.exchange-rates__currency-trend--up::before {
    font-family: "FontAwesome"; content: "\f0d8";
    color: lime;
}

.exchange-rates__currency-trend--down::before {
    font-family: "FontAwesome"; content: "\f0d7";
    color: red;
}