<div class="exchange-rates">
    <% _.forEach(exchangeRates.currencies, function (currency) { %>
    <div class="exchange-rates__item">
        <span class="exchange-rates__currency-icon exchange-rates__currency-icon--<%= currency.code %>"><%= currency.code %></span>
        <span class="exchange-rates__currency-value"><%= currency.value %></span>
        <span class="exchange-rates__currency-trend--<%= currency.trend %>"></span>
    </div>
    <% }) %>
    <div class="exchange-rates__date pull-left ">ЦБ РФ <%= exchangeRates.date %></div>
</div>